rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Mengizinkan semua orang membaca profil pengguna untuk keperluan leaderboard global
    // Namun penulisan hanya diizinkan bagi pengguna yang terautentikasi pada dokumen mereka sendiri
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}